body {
  background-color: #8BC6EC;
  background-image: linear-gradient(180deg, #8BC6EC 0%, #9599E2 100%);
  height: 3000px;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 90%;
}

.card {
  color: rgb(102,102,102);
  border-radius: 10px;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.card2 {
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.disk {
  color: white;
  height: 55%;
}

.titel {
  color: white;
}

.big-card {
  width: 75%;
  height: 50%;
}

.small-card {
  width: 40%;
  height: 15%;
}

.big-card2 {
  width: 75%;
  height: 50%;
}

.small-card2 {
  width: 40%;
  height: 15%;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card2:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 1;
}

.knop {
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -20px;
  position: fixed;
  background-color: transparent;
  border: none;
}

.Settings {
  margin-left: 2450px;
}

.knopdiv {
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
  text-align: center;
  background-color: black;
}

#myChartWinds,
#myChartRain {
  width: 280%;
  height: 400%;
}

.container {
  display: flex;
}

.box {
  width: 10%;
  height: 40%;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 30px;
  text-align: center;
  
}

.box:hover {
  transform: scale(1.1);
  opacity: 1;
}



.box>.box-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.boxes {
  height: 500px;
}
.Richting {
  border-radius: 10px;
  filter: invert(1);
}
.LeftArrow {
  width: 30px;
}
.raincharts {
  height: 750px;
}
.hoofdtitel {
  font-size: 80px;
  color: white;
  text-align: center;
  margin-top: 50px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #3636d4;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2e2ea3;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 8px;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  
  display: none;
  
}

.modal-content {
  color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


