body,
html {
  background-color: rgb(20, 20, 20);
  height: 3000px;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 90%;
}

.card {
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.card2 {
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.disk {
  color: white;
  height: 55%;
}

.titel {
  color: white;
}

.big-card {
  width: 75%;
  height: 50%;
}

.small-card {
  width: 40%;
  height: 15%;
}

.big-card2 {
  width: 75%;
  height: 50%;
}

.small-card2 {
  width: 40%;
  height: 15%;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 1;
}

.card2:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 1;
}

.knop {
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  position: fixed;
}

.knop2 {
  margin-left: 20px;
  margin-bottom: 20px;
}

#speedregen {
  margin-bottom: -280px;
}

#myChartWinds,
#myChartRain {
  width: 280%;
  height: 400%;
}

.container {
  display: flex;
}

.box {
  width: 10%;
  height: 40%;
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 30px;
  text-align: center;
  
}

.box:hover {
  transform: scale(1.1);
  opacity: 1;
}



.box>.box-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.boxes {
  height: 500px;
}
.Richting {
  border-radius: 10px;
}

.raincharts {
  height: 1300px;
}